{% extends '@Website/base.html.twig' %}

{% block content %}
  <div class="tw-container tw-mt-10">
    <h1 class="tw-text-2xl tw-font-bold tw-mb-5">{{headline}}</h1>
    <div class="form">
      {{form(form)}}
      </div>
    </div>

  {% endblock %}
