<div class="ProductTeaser tw-w-72 tw-bg-gray-100 tw-rounded-lg tw-overflow-hidden">
  <img class="tw-w-full tw-aspect-video" src="{{car.image}}" alt="">
  <div class="tw-p-4">
    <h2 class="tw-font-bold tw-mb-4">{{car.name}}</h2>
    <p>{{car.description}}</p>
    <a href="{{path('shop_car_detail', {'id': car.id})}}" class="tw-text-brand tw-underline tw-underline-offset-2 tw-font-bold tw-mt-2 tw-block">Siehe mehr...</a>
  </div>
</div>
