<div
    class="tw-fixed tw-top-0 tw-right-0 tw-pr-2 tw-pl-3 tw-py-2 tw-bg-black tw-uppercase tw-text-white tw-text-sm tw-rounded-bl-xl tw-shadow-xl tw-z-50">
    <span class="tw-block sm:tw-hidden">min</span>
    <span class="tw-hidden sm:tw-block md:tw-hidden">sm</span>
    <span class="tw-hidden md:tw-block lg:tw-hidden">md</span>
    <span class="tw-hidden lg:tw-block xl:tw-hidden">lg</span>
    <span class="tw-hidden xl:tw-block xxl:tw-hidden">xl</span>
    <span class="tw-hidden xxl:tw-block xxxl:tw-hidden">xxl</span>
    <span class="tw-hidden xxxl:tw-block max:tw-hidden">xxxl</span>
    <span class="tw-hidden max:tw-block">max</span>
</div>